* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
}

.sign-up {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 400px;
    border-radius: 15%;
    margin-top: 100px;
    margin-right: 20px;
    align-items: center;
}

.sign-in {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    border-radius: 15%;
    margin-top: 200px;
    margin-left: 40px;
    align-items: center;
}

.label-input {
    box-sizing: border-box;
    margin: 8px;
    padding: 12px;
    width: 300px;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
}

.sign-in-input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.sign-up-input {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: small;
    padding: 5px;
}


.sign-up-btn,
.sign-in-btn {
    margin: 1cqmin;
    padding: 10px;
    width: 100px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
}

.sign-up-btn:hover,
.sign-in-btn:hover {
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.sign-up-btn:active,
.sign-in-btn:active {
    transform: translateY(4px);
}

.icon-style{
    position: flex;
    transform: translateX(270px) translateY(-43px);
    font-size: 23px;
    color: #b4b4b4;
}

.password-checking {
    overflow: hidden;
    font-size: 10px;
    text-align: center;
    padding: 2p;
}