* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
}

#registration-heading {
    margin: 20px;
    text-align: center;
}

.registration-form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.registration-background {
    display: flex;
    flex-direction: column;
    background-color: #1eb8d1;
    padding: 20px;
    border-radius: 30px;
    width: 800px;
    height: auto;
    text-align: center;
}

.form-label {
    font-size: small;
    padding: 5px;
    display: flex;
    flex-direction: column;
}


.label-input {
    box-sizing: border-box;
    margin: 8px;
    padding: 12px;
    width: 300px;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
}

.button-input {
    margin-left: 300px;
    padding: 10px;
    width: 150px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
}

.animal-face-input{
    height:100px
}