.middle-panel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.welcome-header {
    position: absolute;
    left: 25%;
    top: 1.7em;
}

.welcome-text {
    justify-content: center;
}

.container {
    position: absolute;
    left: 21.5%;
    top: 10%;
    width: 25%;
    height: 20%;
    background-color: #ECECEC;
    border-radius: 1em;
}

.calendar {
    position: absolute;
    left: 5%;
    display: flex;
}


.header {
    position: absolute;
    width: 20vh;
}

.monthYear {
    position: absolute;
    top: 15%;
    left: 20%;
}

.header button {
    border: none;
    cursor: pointer;
}

#prevBtn {
    position: absolute;
    left: 1vh;
    top: 15%;
}

#nextBtn {
    position: absolute;
    left: 15vh;
    top: 15%;
}

.days {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(7, 30px);
    font-size: 1.3vh;
    gap: 1%;
    top: 3vh
}

.dates {
    position: absolute;
    top: 5vh;
    display: grid;
    grid-template-columns: repeat(7, 20px);
    gap: 1vh;
    font-size: 1.3vh;
    text-align: center;
}

.date.inactive {
    color: grey;
}

.date:hover,
.date.active {
    background: #a3a2a2;
    border-radius: 100%;
}

.date-events {
    position: absolute;
    top: 5%;
    left: 20vh;
    text-align: center;
}

.event-date {
    position: absolute;
    left: 70%
}

.events {
    position: absolute;
    top: 6vh;
    left: 4vh;
    font-size: 1.2vh;
}

.add-event-wrapper {
    padding: 10px;
}

.add-event-body {
    padding: 20px;
}

.create-container {
    position: absolute;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.add-event-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.add-event-container.active {
    opacity: 1;
    z-index: 999;
}

.first-letter {
    font-size: larger;
}

.diet-panel {
    position: absolute;
    top: 33%;
    left: 21.5%;
    background-color: #ECECEC;
    height: 45%;
    width: 18%;
    text-align: center;
    border-radius: 1em;
}

.to-do-panel-container {
    position: absolute;
    bottom: 2%;
    left: 21.5%;
    background-color: #FFDB59;
    height: 17%;
    width: 18%;
    text-align: center;
    border-radius: 1em;
}

.pop-up.open {
    opacity: 1;
    z-index: 999;
}

.pop-up {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.to-do-open {

    width: 40%;
    height: 50%;
    background-color: #FFDB59;
    margin: auto;
    border-radius: 10px;
}

.openBtn {
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-size: 2.5rem;
    border: none;
    background: none;
    opacity: 0.5;
}

.openBtn:hover {
    opacity: 1;
}

.closeBtn {
    position: absolute;
    top: 30%;
    right: 30%;
    font-size: 1.5rem;
    border: none;
    background: none;
    opacity: 0.5;
}

.closeBtn:hover {
    opacity: 1;
}

#task-btn {
    position: fixed;
    top: 65%;
    right: 45%;
    padding: 1.3%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1rem;
    border-radius: 0.2em;
    border-color: black;
    background-color: #FFDB59;
}

#input-el {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;

}

#input-el.open {
    opacity: 1;
    z-index: 999;
}

#input-box {
    position: fixed;
    right: 40%;
    top: 60%;
    height: 3%;
    width: 20%;
}

#input-close-btn {
    background-color: #FFDB59;
    border: none;
    position: fixed;
    top: 57%;
    right: 38%;
}

#input-el-btn {
    position: fixed;
    top: 65%;
    right: 45%;
    padding: 1.3%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1rem;
    border-radius: 0.2em;
    border-color: black;
    background-color: #FFDB59;
}

span {
    position: fixed;
    left: 60%;
}

#input-inside {
    position: absolute;
    width: 30%;
    height: 25%;
    background-color: #FFDB59;
    margin-top: 15%;
    border-radius: 10px;
}

#to-do-header {
    font-size: 0.75em;
    width: 70%;
    padding: 2%;
    margin-left: 10px;
    border-bottom: 1px solid white;
}

#shorter-list {
    padding: 0;
}

li {
    padding-top: 10%;
    padding-bottom: 10%;
}

#longer-todo {
    position: fixed;
    top: 40%;
    left: 35%;
    font-size: 1.7rem;
}

#longer-todo li::before {
    content: '';
    top: 20%;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-position: center;
    background-size: cover;
}

#longer-todo li.checked {
    text-decoration: line-through;
}

#longer-todo li.checked::before {
    background-image: url(checked.png);
}

#longer-todo-header {
    font-size: 2.2rem;
    position: relative;
    top: 5%;
}

.todo-bottom-par {
    position: relative;
    bottom: 1%;
}

input {
    height: 30px;
}

.mood-panel {
    position: absolute;
    top: 10%;
    right: 27%;
    background-color: #ECECEC;
    height: 9%;
    width: 23.5%;
    text-align: center;
    border-radius: 1em;
}

.moods-btn{
border: none;
}

.moods-img{
height: 5vh;
}


.photo-panel-first {
    position: absolute;
    top: 21%;
    right: 27%;
    background-color: #ECECEC;
    height: 9%;
    width: 10%;
    text-align: center;
    border-radius: 1em;

}

.photo-panel-second {
    position: absolute;
    top: 21%;
    right: 40.5%;
    background-color: #ECECEC;
    height: 9%;
    width: 10%;
    text-align: center;
    border-radius: 1em;

}

.training-panel {
    position: absolute;
    top: 33%;
    left: 41%;
    background-color: #ECECEC;
    height: 16.5%;
    width: 15%;
    text-align: center;
    border-radius: 20px;

}

.supplements-panel {
    position: absolute;
    top: 33%;
    right: 27%;
    background-color: #ECECEC;
    height: 35.5%;
    width: 15%;
    text-align: center;
    border-radius: 1em;

}

.medicines-panel {
    position: absolute;
    bottom: 31.5%;
    left: 41%;
    background-color: #ECECEC;
    height: 16.5%;
    width: 15%;
    text-align: center;
    border-radius: 1em;

}

.weight-panel {
    position: absolute;
    bottom: 2%;
    left: 41%;
    background-color: #ECECEC;
    height: 26.5%;
    width: 32.2%;
    text-align: center;
    border-radius: 1em;

}