.walks-panel {
    position: absolute;
    left: 22%;
    right: 60%;
    top: 15vh;
    background-color: #ECECEC;
    border-radius: 1em;
    min-height: 350px;
    height: auto;
    min-width: 21%;
}

.vet-panel {
    position: absolute;
    top: 15vh;
    left: 45%;
    background-color: #ECECEC;
    border-radius: 1em;
    min-height: 500px;
    height: auto;
    min-width: 40%;
    width: 53%;
}

.vet-popup,
.calculator-popup,
.weight-popup,
.walks-popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.vet-popup.open,
.calculator-popup.open,
.weight-popup.open,
.walks-popup.open {
    opacity: 1;
    z-index: 999;
}


.diet-panel {
    position: absolute;
    left: 22%;
    right: 60%;
    top: 50vh;
    background-color: #ECECEC;
    border-radius: 1em;
    min-height: 500px;
    height: auto;
    min-width: 21%;
}

#chart-container {
    width: 50%;
    height: 20%
}

#weight {
    position: absolute;
    left: 60%;
    top: 20%;
    height: 10%;
    width: 30%;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
}

#date {
    position: absolute;
    left: 60%;
    top: 40%;
    height: 10%;
    width: 30%;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
}

#add-weight-btn {
    width: 10%;
    min-width: 100px;
    height: 40px;
    border-radius: 40px;
    background-color: #ADD8E5;
    border: none;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: absolute;
    top: 70%;
    left: 70%;
    transition: transform 0.2s;
}

#add-weight-btn:hover {
    transform: scale(1.3);
}

#calculator-btn {
    width: 40%;
    height: 40px;
    background-color: #ADD8E5;
    border: none;
    border-radius: 50px;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 55%;
    transition: transform 0.2s;
}

#calculator-btn:hover {
    transform: scale(1.3);
}

.calculator-popup {
    display: flex;
}

.calculator-popup-window {
    height: 400px;
    width: 700px;
    background-color: #ECECEC;
    box-shadow: 0px 0px 45px black;
    border-radius: 30px;
}

.calculator-header {
    text-align: center;
    margin-top: 10px;
}

.questions-all {
    display: flex;
    margin-top: 10%;
}

.first-question,
.second-question,
.third-question,
.fourth-question,
.fifth-question {
    text-align: center;
    margin: auto;
}

.hidden {
    display: none;
}

#result-text {
    margin-top: 50%;
}

.result-here {
    margin-top: 20%;
}

#close-calculator-btn, .weight-popup-close-btn, .vet-popup-close-btn, .walks-popup-close-btn {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #ADD8E5;
    border: none;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 58%;
    transition: transform 0.2s;
}

.next-question-btn,
.back-question-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ADD8E5;
    border: none;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
}

.next-question-btn {
    position: absolute;
    top: 48%;
    left: 63%;
    margin: 10px;
}

.back-question-btn {
    position: absolute;
    top: 48%;
    margin: 10px;
}

.diet {
    margin-top: 10%;
}


.food-info {
    padding: 2%;
    display: flex;
    justify-content: center;
}

.food-hour {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 20px;
}

.food-div {
    border-radius: 20px;
    background-color: #f8f7f7;
    border: none;
    width: 300px;
    padding-left: 5%;
    padding-right: 5%;
}

.food-li {
    text-align: center;
}

.edit-diet-btn {
    width: 200px;
    height: 40px;
    background-color: #f8f7f7;
    border: none;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: absolute;
    transition: transform 0.2s;
    top: 87%;
    left: 28%;

}

.weight-panel {
    position: absolute;
    top: 62.5vh;
    left: 45%;
    min-height: 360px;
    height: auto;
    min-width: 25%;
    width: 53%;
    background-color: #ECECEC;
    border-radius: 1em;
}

.add-button,
.add-vet-button,
.add-weight-panel-button,
.add-walks-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ADD8E5;
    border: none;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: transform 0.2s;
}

.add-button:hover,
.add-vet-button:hover,
.add-weight-panel-button:hover,
.add-walks-button:hover {
    transform: scale(1.3);
}

.weight-popup-window {
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 30px;
}

.vet-popup-window {
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 30px;
}

.walks-popup-window {
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 30px;
}