* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: grey;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

.calendar {
    width: 380px;
    height: auto;
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 3);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.days {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    text-align: center;
    padding: 5px;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
}

.date.inactive {
    color: grey;
}

.date:hover,
.date.active {
    background: #e96666;
    border-radius: 60%;
}

.date-events{
    text-align: center;
    padding: 10px;
}

.events{
    padding: 10px;
    text-align: left;
}

.add-event-wrapper{
    padding: 10px;
}

.add-event-body{
    padding: 20px;
}

.x{
    float: left;
}

.create-container{
    float: left;
}