* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    background: #F8F7F7;
    font-size: 1.25rem;
}
.upper-panel {
    margin-top: 2%;
    text-align: center;
    font-size: 2rem;    
}

.top-panels {
    margin-right: 20em;
    margin-bottom: 20px;
}

.header-panel {
    text-align: left;
    margin-top: 2%;
    margin-left: 4%;
}

.left-panel {
    background: #ADD8E5;
    width: 20%;
    display: grid;
}

.navigation-panel-header {
    text-align: center;
    padding-top: 1em;
}

.ul-panel-links {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 10%;
    text-align: center;
    padding-block: 10%;
    font-size: 80%;
    list-style: none;
}

.ul-panel-links a {
    text-decoration: none;
    border-color: white;
    color: #3D3C3D;
}

.ul-panel-links li.active {
    background: #F8F7F7;
    position: relative;
    view-transition-name: activeNavTab;
    margin-left: 40%;
    border: none;
}

::view-transition-group(activeNavTab) {
    animation-duration: 2s;
}

.ul-panel-links li {
    background-color: #ADD8E5;
    padding: 20px 10px;
    border-radius: 20px 0 0 20px;
}

.ul-panel-links li.active::before,
.ul-panel-links li.active::after {
    --border-radius: 20px;

    content: '';
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    right: 0;
    background: #ADD8E5;

}

.ul-panel-links li.active::before {
    top: calc(var(--border-radius) * -1);
    box-shadow: 10px 10px 0 10px #F8F7F7;
    border-radius: 0 0 120px 0;

}

.ul-panel-links li.active::after {
    bottom: calc(var(--border-radius) * -1);
    border-radius: 0 10px 0 0;
    box-shadow: 10px -10px 0 10px #F8F7F7;
    border: none;
}

.nav-pan-log-out {
    text-align: center;
    margin-top: 50%;
    text-decoration: none;
    text-decoration: none;
    color: #3D3C3D;
}


.nav-pan-links {
    border-width: 1px;
    border-style: solid none;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.75em;
}

.logo {
    width: 50%;
    padding-top: 10%;
    margin-left: 25%;
}


.upper-panel {
    display: flex;
}

.upper-header {
    text-align: right;
    position: fixed;
    left: 22%;
    font-size: 1em;
    min-width: 1em;
}

.search-bar {
    position: fixed;
    right: 30%;
}

.search-input {
    height: 30px;
    width: 300px;
}

.user {
    position: absolute;
    right: 10%;
    font-size: 0.75em;
}