<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>
        Witamy
    </title>
    <link rel="stylesheet" type="text/css" href="../css/styleSignInSignUp.css">

</head>

<body>

        <h1>Witamy!</h1>
    
</body>

</html>