<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>
         Rejestracja
    </title>
    <link rel="stylesheet" type="text/css" href="../css/styleSignInSignUp.css">

</head>

<body>

    <div class="sign-up">

        <h1>ZAREJESTRUJ SIĘ</h1>
        <form action="/signup" method="post">
                <div class="sign-up-input">
                    <label for="name">Zwierzę</label>
                    <input type="text" name="username" class="name" id="name" required autocomplete="off">
                </div>

                <div class="email-input">
                    <label for="email">Wiek</label>
                    <input type="text" name="email" class="email" id="email" required autocomplete="off">
                </div>

                <div class="sign-up-input">
                    <label for="password">Waga</label>
                    <input type="text" name="password" class="password" id="password" required>
                </div>

                <!-- <div class="sign-up-input">
                    <label for="chosenAnimal">Wybierz zwierzę</label>
                    <input type="button" name="animal" class="chosenAnimal" id="chosenAnimal" value="PIES">
                    <input type="button" name="animal" class="chosenAnimal" id="chosenAnimal" value="KOT">
                </div> -->
                

                <button type="submit" class="submit-btn">Zarejestruj</button>
        </form>
    </div>

    <script src="../script/scriptSignInSignUp.js"></script>
</body>

</html>